@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "./css/style.css";

:root {
  --main-background-color: #FFFFFF;
  --h1-color: #10BD9E;
  --card-background-color: #CCFFEB;
  --footer-nav-background-color: #96FCAB;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

.custom-nav {
  background-color: var(--footer-nav-background-color);
  
}

a {
  color: var(--main-background-color);
}

